.contact-form-container{
  background-color: #ff7f11;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow:hidden;
  padding:1em;
  width: 30vw;
  border-radius:10%;
}
.form{
  background-color: #F57200;
  border-radius:10%;
}
.input-container{
  display:flex;
  justify-content: space-between;
  margin:1em;
  padding: 1em;
  gap: 2em;
}

.number-container{
  display:flex;
  gap: .1em;
  white-space: nowrap;
}
.submit-button{
    background-color:#4D7C8A;
    transition: 100ms;
    border-radius: .5em;
    border: none;
    font-size: 1.5em;
    padding: .25em;
}
.submit-button:hover{
    background-color: #3c6470;
    transition: 100ms;
}

@media only screen and (max-width:700px) {
  .contact-form-container {
      width: 70vw;
      margin-top: 1em
  }

}