.hero-container{
  background-image: url(../assets/images/general/HeroImage.jpg);
  background-size: 100%;;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #4D7C8A;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 0 5vw;
  max-width: 100vw;
  min-height:40em;
  margin-bottom: 1em;

}
.hero-text-container{
  max-width: 40em;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.hero-text{
  text-align: center;
}
h2.hero-text{
  font-size: 3.4em;
  font-weight: 600;
}
p.hero-text{
  max-width: 30em;
  font-size: 1.75em
}
.learn-more{
  background-color:#4D7C8A;
  transition: 100ms;
  border-radius: .5em;
  border: none;
  font-size: 1.5em;
  padding: .25em;
}
.learn-more:hover{
  background-color: #ff7f11;
  transition: 100ms;
}