.service-wrapper{
  display:flex; 
  flex-direction: column;
}

.service-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 3vw;
  margin-top: 2em;
}
.service-img{
  max-width: 40vw;
  max-height: 80vh;
  background-color:#4D7C8A ;
}
.service-text-container{
  max-width: 40vw;
}
.service-header{
  display: flex;
  justify-content: space-around;
}
.service-text{
  text-align: center;
}

h2.service-text, h3.service-text{
  color:#4D7C8A;
  font-size: 3em;
}
p.service-text{
  font-size: 1.3em;
  margin-top:1em;
}


.banner{
  height: 30vh;
  min-width: 100%;
  object-fit:cover;
  margin-bottom: 10px;
}
.gallery-text{
  color:#4D7C8A;
  font-size: 3em;
  text-align: center;
  padding: .5em;
}
.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.gallery-row {
  display: flex; 
  justify-content: center;
}

.gallery-item{
  width: 20vw;
  height: 70vh;
  object-fit: cover;
  object-position: center;
}

@media only screen and (max-width: 700px) {
  .service-container{
    flex-direction: column-reverse;
    padding: 0;
  }
  #shower {
    flex-direction:column;
  }
  .service-img{
    max-width: 80vw;
    max-height: 80vh;
    background-color:#4D7C8A ;
  }
  .service-text-container{
    max-width: 80vw;
  }
  #service-page{
    flex-direction: column;
  }
}

/* Backsplash  page */ 

/* Shower page*/
#shower-banner {
  object-position: 50% 20%;
}
/* TileFloorPage */
#tile-floor-banner{
  object-position: 50% 35%;
}
#tileFloor0{
  object-position: 50% 20%;
} 